body {
    display: block;
    min-width: 400px;
    text-align: left;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.instructions {
    margin-left: 40px;
}


.instruction {
    text-align: left;
    color: grey;
    font-size: 10px;
    border-spacing: 10px;
}

.title {
    text-align: center;
    padding: 2.5px 0px;
}

td {
    padding: 0px 10px;
}

.jumbotron {
    color: #E0B0FF;
    background-color: #f0f0f0;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

input[type=text] {
    width: 100px;
    border: #f0f0f0;
    border-radius: 20px;
    padding: 2px 8px
}

input[type=text]:focus {
    border: #f0f0f0;
    outline: #f0f0f0;
    box-shadow: #f0f0f0;
}

.button {
    border: none;
    border-radius: 150px;
    padding: 0px 8px;
    background-color: #B0B0B0;
    color: white;
}

.button:hover {
    background-color: #ff5c5c;
    color: white;
}

.alias-widget {
    display: block;
    margin: 10px 10px;
    width: min-content;
    border-radius: 40px;
    background-color: #E0B0FF;
    padding: 5px 5px;
    white-space: nowrap;
}

.field {
    margin: 0 10px;
}

.badge {
    margin: 0 10px;
}